body{
    background: url(img/bg-image.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

.vertical-right{
    border-right: 1px solid grey;
    padding-right: 10px;
}

.padding-left{
    padding-left: 10px
}

.bs-none{
    box-shadow: 0;
}
.padding-y{
    padding: 80px 0 0 0;
}
.ml-auto{
    left: auto !important;
    right: 0px;
}

.border-none{
    border: none;
}